<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Cadastro de Entradas</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://img.pikbest.com/origin/10/10/36/09QpIkbEsTiEV.png!sw800" width="30" height="30" class="d-inline-block align-top" alt=""> ㅤ
    <a class="navbar-brand" href="#">Sales System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>

<div class="container">
    <form action="/salvarEntrada" th:object="${entrada}" method="POST">
        <div class="form-group">
            <label>ID:</label>
            <input type="text" required readonly="true" class="form-control" id="id" th:field="*{id}">
            <label>Observação:</label>
            <input type="text" required class="form-control" id="nome" th:field="*{obs}">
            <label>Funcionário:</label>
            <select th:field="*{funcionario}" class="form-control">
                <option th:each="fun : ${listaFuncionarios}" th:value="${fun.id}" th:text="${fun.nome}"></option>
            </select>
            <label>Fornecedores:</label>
            <select th:field="*{fornecedor}" class="form-control">
                <option th:each="for : ${listaFornecedores}" th:value="${for.id}" th:text="${for.nome}"></option>
            </select>
            <label>Valor Total:</label>
            <input type="text" readonly class="form-control" id="valorTotal" th:field="*{valorTotal}">
            <label>Quantidade Total:</label>
            <input type="text" readonly class="form-control" id="quantidadeTotal" th:field="*{quantidadeTotal}">

            <div class="form-row" th:object="${itemEntrada}">
                <label>Produtos:</label>
                <select th:field="*{produto}" class="form-control">
                    <option th:each="prod : ${listaProdutos}" th:value="${prod.id}" th:text="${prod.nome}"></option>
                </select>
                <label>Quantidade:</label>
                <input type="text" readonly class="form-control" id="quantidade" th:field="*{quantidade}">
                <label>Valor de Custo:</label>
                <input type="text" readonly class="form-control" id="valorCusto" th:field="*{valorCusto}">
                <label>Valor de Venda:</label>
                <input type="text" readonly class="form-control" id="valor" th:field="*{valor}">

                <button name="acao", th:value="itens" type="submit" class="btn btn-dark">Adicionar</button>

            </div>

            <table class="table" id="tabela">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Produto</td>
                    <td>Quantidade</td>
                    <td>Valor de Custo</td>
                    <td>Valor de Venda</td>
                    <td>Ação</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="itemEntrada: ${listaItemEntrada}">
                    <td th:text="${itemEntrada.id}"></td>
                    <td th:text="${itemEntrada.produto.nome}"></td>
                    <td th:text="${itemEntrada.quantidade}"></td>
                    <td th:text="${itemEntrada.valorCusto}"></td>
                    <td th:text="${itemEntrada.valor}"></td>
                    <td colspan="2">
                        <a th:href="@{/editarItemEntrada/{id}(id=${itemEntrada.id})}"><i class="fa-solid fa-pen-to-square" style="color: #63E6BE;"></i></a>
                        <a th:href="@{/removerItemEntrada/{id}(id=${itemEntrada.id})}"><i class="fa-solid fa-trash-can" style="color: #e14747;"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="/administrativo" type="submit" class="btn btn-danger"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Voltar</a>
        <a href="/listarEntrada" type="submit" class="btn btn-success"><i class="fa-solid fa-list-ul" style="color: #ffffff;"></i> Listar</a>
        <a href=""><button type="submit" class="btn btn-dark"><i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i> Salvar</button></a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        $('#cep').mask('99999-999');
    });
</script>
</body>
</html>